---
layout: default
title: Articles
---

<h3>Miscellaneous articles</h3>

<p>
Here you may find miscellaneous documents and articles regarding the network

<ul class="article-list">
<li><a href="takeovers">How to deal with IRC takeovers HTML</a> (<a href="takeovers/takeovers.txt">Plain text</a>)
<li><a href="kline">KLINE reasons or "IRCOP KLINE ME FOR NOTHING!!!"</a> (<a href="kline/kline.txt">Plain text</a>)
</ul>

<h3>Network and server related articles</h3>
<p>
This section contains useful articles on channel modes and how to deal with troublemakers


<ul class="article-list">
<li> <a href="alis">Searching for a channel using Alis</a>
<li> <a href="reop">Reop channel mode</a>
<li> <a href="access">IRCnet servers access troubles</a> (<a href="access/access.txt">Plain text</a>)
<li> <a href="linking">Unofficial new server linking guidelines</a> (<a href="linking/linking.txt">Plain text</a>)
<li> <a href="secretmode">What is the difference between the channel modes +s and +p</a> (<a href="secretmode/secretmode.txt">Plain text</a>)
</ul>

<h3>Outdated documents</h3>
<p>
These are outdated and should be brought up to date but they are still somewhat
useful:

<ul class="article-list">
<li> <a href="newchannels">How the new !channels work</a> (<a href="newchannels/newchannels.txt">Plain text</a>)
</ul>
